/* CSS Code File */

/* File Information */

/* (START)

Date Created - 1 / 18 / 2024
Version - 0.00.00 (Startup)
Author - Michael
Company - SkyzerNetworks
Source Code - https://github.com/SkyzerNetworks/SkyzerNetworks.github.io

(END) */

/* Color Palette */

:root {
    --color1: rgb(51, 51, 53);
    --color2: rgb(116, 116, 122);
    --color3: rgb(147, 147, 160);
    --color4: rgb(209, 209, 224);
    --color5: rgb(30, 30, 32);
}

/* Scroll Bar Style */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-button {
    background-color: var(--color1);
}
::-webkit-scrollbar-track {
    background-color: var(--color5);
    box-shadow: 0px 0px 20px rgb(197, 83, 83);
}
::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 10px;
}

/* Page Fix */

* {
    padding: 0;
    margin: 0;
    overflow: none;
    cursor: default;
    user-select: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Background / Body */

#background {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Page Container / Holder */

#page_container {
    width: 100vw;
    height: 200vh;
    background-image: url("/img/0002-b/blk_dotgrid.jpg");
    background-size: 15vw;
}

/* Navigation Banner / Block */

nav {
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(to right, rgb(255, 98, 98), rgb(255, 203, 106), rgb(255, 255, 146), rgb(134, 255, 134), rgb(143, 143, 255), rgb(255, 133, 255), rgb(255, 149, 166));
}

#nav-holder {
    width: 100vw;
    height: 9.4vh;
    background-color: rgb(29, 27, 27);
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 15vw;
}

.nav-button {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px rgb(0, 0, 0);
    transition: ease-in 0.3s;
}

.nav-button:hover {
    background-color: var(--color2);
    color: white;
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
}

/* Header Banner / Block */

header {
    width: 100vw;
    height: 40vh;
    background-color: rgba(15, 15, 15, 0.836);
    border-bottom: .5vh solid white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    box-shadow: 0 0 20px rgb(0, 0, 0) inset;
}

#title_container {
    width: 50vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    color: white;
    padding: 30px;
    font-size: 5vw;
    text-shadow: 2px 2px 0px rgb(255, 124, 124), 4px 4px 0px rgb(221, 255, 25);
}

header p {
    color: white;
    margin: 20px;
    text-wrap: stable;
    width: 40vw;
    height: 15vh;
    text-align: center;
}

#header_image {
    width: 50vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_image img {
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

/* Section Banner / Block */

#section-1 {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    box-shadow: 0 0 20px black inset;
    border-bottom: .3vh solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#s1-content_holder {
    width: 80vw;
    height: 100vh;
    box-shadow: 0 0 20px black inset;
}

#s1-right_holder {
    width: 20vw;
    height: 100vh;
    background-color: rgb(31, 31, 31);
    border-left: .2vw solid white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
}

#s1-right_holder h2 {
    color: white;
    font-size: 3vw;
    padding: 20px;
    text-align: center;
    text-shadow: 5px 5px 0px black;
}

.about-buttons {
    width: 15vw;
    height: 5vh;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 4px 4px 0px black;
    transition: ease-in-out 0.2s;
}

.about-buttons:hover {
    color: white;
    background-color: rgb(14, 14, 14);
    border: .1vw solid white;
    cursor: pointer;
}

#commandments-banner {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(109, 61, 61, 0.329);
    gap: 5vh;
}

#commandments-banner h2 {
    color: white;
    font-size: 4vw;
    text-shadow: 4px 4px 0px black;
    padding: 20px;
    border-bottom: .3vh solid white;
    border-radius: 15px;
}

#commandments-banner p {
    color: white;
    text-shadow: 2px 2px 0px black;
    font-size: 1.3vw;
    border-left: .2vw solid white;
    width: 33vw;
    padding: 10px;
    text-align: center;
}

#goals-banner {
    width: 80vw;
    height: 100vh;
    background-color: rgba(255, 200, 97, 0.137);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}

#goals-banner h2 {
    color: white;
    font-size: 4vw;
    text-shadow: 4px 4px 0px black;
    padding: 20px;
    border-bottom: .3vh solid white;
    border-radius: 15px;
}

#goals-banner p {
    width: 40vw;
    height: 40vh;
    font-size: 1.3vw;
    color: white;
    text-shadow: 2px 2px 0px black;
    padding: 10px;
    line-height: 40px;
    text-align: center;
}

#foundation-banner {
    width: 80vw;
    height: 100vh;
    background-color: rgba(105, 255, 118, 0.226);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}

#foundation-banner h2 {
    color: white;
    font-size: 4vw;
    text-shadow: 4px 4px 0px black;
    padding: 20px;
    border-bottom: .3vh solid white;
    border-radius: 15px;
}

#foundation-banner p {
    width: 40vw;
    height: 40vh;
    font-size: 1.3vw;
    color: white;
    text-shadow: 2px 2px 0px black;
    padding: 10px;
    line-height: 40px;
    text-align: center;
}

#background-banner {
    width: 80vw;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.158);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}

#background-banner h2 {
    color: white;
    font-size: 4vw;
    text-shadow: 4px 4px 0px black;
    padding: 20px;
    border-bottom: .3vh solid white;
    border-radius: 15px;
}

#background-banner p {
    width: 40vw;
    height: 40vh;
    font-size: 1.3vw;
    color: white;
    text-shadow: 2px 2px 0px black;
    padding: 10px;
    line-height: 40px;
    text-align: center;
}


/* Footer Banner / Block */

footer {
    width: 100vw;
    height: 50vh;
    background-color: blue;
}